<connectionStrings>
  <!--default connection-->
  <add name="DefaultConnection"
  connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-Website-9b7f96bd-3529-480c-b539-66109a48a407;AttachDbFilename=|DataDirectory|\aspnet-Website-9b7f96bd-3529-480c-b539-66109a48a407.mdf;Integrated Security=SSPI"
  providerName="System.Data.SqlClient"/>

  <!--new connection: you can have as many of these as you want-->
  <!--remember the dot in the connectionString Data Source is the name of the connection name to the DB-->
  <add name="eRestaurant" connectionString="Data Source=.; Initial Catalog=eRestaurant; Integrated Security=true"
       providerName ="System.Data.SqlClient"/>

</connectionStrings>
